<h1>お肉を選ぼう</h1>

<%= form_with url: meat_path, method: :post do %>
  <% @meats.each do |meat| %>
    <%= radio_button_tag :meat, meat %> <%= meat %><br>
  <% end %>
  <%= submit_tag "次へ" %>
<% end %>

