<h1>野菜を選ぼう</h1>

<%= form_with url: vegetables_path, method: :post do %>
  <% @vegetables.each do |veg| %>
    <%= check_box_tag "vegetables[]", veg %> <%= veg %><br>
  <% end %>
  <%= submit_tag "次へ" %>
<% end %>
